include changelog
include LICENSE
include README.rst
include requirements.txt
include rfclint/run.py
include rfclint/abnf.py
include rfclint/config.py
include rfclint/CursesCommon.py
include rfclint/dups.py
include rfclint/spell.py
include rfclint/__init__.py
