include CHANGELOG.md
include LICENSE
include README.md
include requirements.txt
include svgcheck/run.py
include svgcheck/checksvg.py
include svgcheck/word_properties.py
include svgcheck/run.py
include svgcheck/__init__.py
