/* Put this inside a @media qualifier so Netscape 4 ignores it */
@media screen, print { 
	/* Turn off list bullets */
	ul.mktree  li { list-style: none; } 
	/* Control how "spaced out" the tree is */
	ul.mktree, ul.mktree ul , ul.mktree li { margin-left:10px; padding:0px; }
        ul.mktree  li.liBullet { margin-left:5px; }
	/* Provide space for our own "bullet" inside the LI */
	ul.mktree  li           .bullet { padding-left: 15px; }
	/* Show "bullets" in the links, depending on the class of the LI that the link's in */
	ul.mktree  li.liOpen    .bullet { cursor: pointer; background: url(data:image/gif;base64,R0lGODlhEwATAJEDAP///4CAgAAAAO7u7iH5BAEAAAMALAAAAAATABMAAAIonI+py+0PYwu0VheA3iBgvnkTqIlMJqRp95Hmkrkt+CrWLeX6zvdDAQA7)  center left no-repeat; }
	ul.mktree  li.liClosed  .bullet { cursor: pointer; background: url(data:image/gif;base64,R0lGODlhEwATAJEDAP///4CAgAAAAO7u7iH5BAEAAAMALAAAAAATABMAAAIqnI+py+0PYwu0VheA3iDgLWzeBIqfgKLdp4XayGStSXIvZlnSzvf+PygAADs=)   center left no-repeat; }
	ul.mktree  li.liBullet  .bullet { cursor: default; background: white; margin-left:5px; list-style-type: none; width: 0px; padding-left: 0px;}
	/* Sublists are visible or not based on class of parent LI */
	ul.mktree  li.liOpen    ul { display: block; }
	ul.mktree  li.liClosed  ul { display: none; }

	/* Format menu items differently depending on what level of the tree they are in */
	/* Uncomment this if you want your fonts to decrease in size the deeper they are in the tree */
/*
	ul.mktree  li ul li { font-size: 90% }
*/
}
