include changelog
include LICENSE
include README.rst
include requirements.txt
include rfctools_common/parser.py
include rfctools_common/log.py
include rfctools_common/utils.py
include rfctools_common/__init__.py
include rfctools_common/templates/svg.rng
include rfctools_common/templates/rfc7991.rng

