include changelog
include LICENSE
include README.rst
include requirements.txt
include xmldiff/run.py
include xmldiff/zzs2.py
include xmldiff/DiffNode.py
include xmldiff/EditItem.py
include xmldiff/__init__.py
include xmldiff/zzs_build.py
include xmldiff/zzs.c
include xmldiff/Templates/base.html
include xmldiff/Templates/colresize.js
include xmldiff/Templates/single.html
include xmldiff/Templates/mktree.js
include xmldiff/Templates/mktree.css
include xmldiff/Templates/bullet.gif
include xmldiff/Templates/plus.gif
include xmldiff/Templates/minus.gif

